* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  /* top-main */

  .wrapper-top {
    background-color: #1F2937;
}

.main {
    background-color: inherit;
    background-image: url("/images/sunrise.png");
    background-size: cover;
    color: #f9faf8;
    transform: scale(0.90)
    
}

a {
    text-decoration: none;
    color:#E5E7EB;
}

.logo {
    display: flex;
    color: #E5E7EB;
    gap: 12px;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: flex-end;

}

div#head-logo {
    margin-left: 0;
    margin-right: auto;
}

/* top-middle */

.hero-container {
    display: flex;
    height: auto;
    flex: 1;
    padding: 25px;
    justify-content: space-evenly;
}

.hero-text-container {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 48px;
    font-weight: bolder;
    color: white;
    margin: auto;
    width: 50%;
    gap: 12px;
    
}

.hero-text-container .secondary-text {
    font-size: 18px;
    font-weight: lighter;
    color: #E5E7EB;
    white-space: normal;
}

#button-one {
    color:#E5E7EB;
    background-color:#3882F6;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: none;
    border-radius: 50%;
    padding: 15px;
    text-align: center;
    text-decoration: solid;
    font-size: 16px;
    flex-shrink: 1;
}

.image-container {
    background-color: darkgrey;
    width: 500px;
    height: 250px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-shrink: 1;
}

.image-text {
    align-self: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* middle */

.wrapper-middle {
    background-color: white;
    padding: 0 20px 0 20px;
}

.middle {
   background-color: inherit;
   transform: scale(0.9)
}

.middle-header {
    text-align: center;
    font-weight: bolder;
    font-size: 36px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px;
}

.middle-header .box-container {
    font-size: 18px;
    font-weight: lighter;
    white-space: normal;
}

.box-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
}

.box-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90px;
}

.box {
    width: 120px;
    height: 120px;
    border: 4px solid #3882F6;
    border-radius: 20%;
    flex-wrap: wrap;
}

/* bottom */

.wrapper-bottom .bottom {
    background-color: #E5E7EB;
    padding: 0 20px 0 20px;
}

.bottom .quote {
    background-color: inherit;
    transform: scale(0.9)
}

.quote {
    background-color: #E5E7EB;
    padding: 25px;
}

.quote-text p {
    font-size: 36px;
    font-weight: lighter;
    text-align: center;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.quote-text > div {
    font-size: 18px;
    text-align: end;
    font-weight: bolder;
}


.end {
    padding: 20px;
    margin: 20px;
}

.action-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 2px solid #3882F6;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 4px;
    background: #3882F6;
    margin: auto 75px;
}

.action-text {
    color: #f9faf8;
}

.action-container p {
    font-size: 18px;
    color: #f9faf8;
}

.action-subtext {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.button {
    padding: 15px 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #3882F6;
    color: #f9faf8;
    border-radius: 4px;
    border: 2px solid #f9faf8;
    font-weight: bold;
    margin-bottom: 25px;
    margin-right: 20px;
    
}















